
.container{
    font-family: 'Inter';
}

h1{
    font-size: 2rem;
}

thead{
    font-weight: 500;
}

.font-weight-bold {
    font-weight: 800;
    color: #1a4a89;;
    
}

.cantidad__total{
    font-weight: 800;
    color: #1a4a89;;
}

.textTotalProductos{
    font-weight: 800;
}

.btn{
    margin: 10px;
}