.Carousel{
  width: 100%;
  max-width: 100vw;
  padding: 0 2rem;
  overflow: hidden;
  position: relative;
}

.Carousel .CarouselImgs{
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  transition: 0.5s all ease-in-out;
  transform: translate(0%);
  gap: 0.5rem;
}

.CarouselImgs .img{
  min-height: 20vh;
  max-height: 80vh;
  border-radius: 1rem;
}

.Carousel .CarouselDots{
  width: 100%;
  margin: 1em 0 0 0;
  padding: 0.5em;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  list-style: none;
  position: absolute;
  bottom: 3rem;
}

.Carousel .dot{
  width: 1.5em;
  height: 1.5em;
  margin: 1em 1em 0;
  border-radius: 50%;
  cursor: pointer;
  background-color: var(--standard-grey);
  transition: 0.5s all ease;
}

.dot.active{
  background-color: var(--active-light-blue);
}