.section1{
    border-top: 0.15rem solid var(--standard-grey);
    margin-top: 2rem;
    padding: 2rem;
    width: 90%;
}

.boxes{
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(10rem,1fr));
}

.box{
    padding-right: 2rem;
}

.description_M-Store_title{
    align-items: center;
    display: flex;
}

.description_M-Store_icon{
    font-size: 2.5rem;
    font-weight: bold;
}

.title{
    font-family: 'Inter';
    font-size: 18px;
    font-weight: 800;
    padding: 2rem 0;
}

.description_M-Store_h1{
    color: var(--american-violet);
}

.description_M-Store_p{
    font-family: 'Inter';
    text-align: justify;
}

.payments_title{
    padding-bottom: 1rem;
}

.payments_icons{
    align-items: center;
    display: flex;
}

.payment_icon{
    font-size: 1.6rem;
    margin-right: 1rem;
}

.nav{
    display: flex;
    flex-direction: column;
}

.a, .author_span, .description_M-Store_p{
    color: var(--dark-grey);
    font-family: 'Inter';
    font-size: 12px;
    padding-bottom: 0.5rem;
    text-decoration: none;
}

.author{
    margin-top: 2rem;
}

.author_icon{
    align-items: center;
    color: var(--dark-grey);
    font-size: 1rem;
    margin-right: 0.5rem;
}